/*****----- Configuration -----*****/
configuration {
    modes:                      [ drun, recursivebrowser ];
    run-command:                "uwsm app -- {cmd}";
    show-icons:                 true;
    display-drun:               " ";
    drun-display-format:        "{name}";
    replace:                    true;

    recursivebrowser {
        display-name:           "files";
    }

    kb-accept-entry:            "Return";
    kb-remove-to-eol:           "";
    kb-row-up:                  "Control+k";
    kb-row-down:                "Control+j";
}

@theme "base"
